$text-font: "Expletus";
$numeric-font: "Roboto";

$primary-1: #0c6cb0;
$primary-2: #34495e;

$secondary-1: #fbfdfe;
$secondary-2: #b7c1c8;
$secondary-3: #273b49;
$secondary-4: #192229;

$green-1: #12a173;
$red-1: #ed5e76;
