@import '../../styles/variables.scss';

.login-container {
    display: flex;
    flex-direction: column;
    align-self: center;

    .login-form-container {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .error-message {
        font-weight: bold;
        color: $red-1;
    }
}